/* Elemento select para que abarque el ancho de la pantalla */
select{
    width: 100%;
}

/* El estilo del form para, como el borde, la letra y la sombra de la caja */
.form-style{
    border: 1px solid black;
    font-family: 'Baloo2';
    font-weight: 600;
    font-size: large;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
}