<!-- clase tabla de bootstrap -->
<table class="table table-striped table-hover text-center">
    <!-- estilo oscuro de bootstrap y animacion -->
    <thead class="table-dark animate__animated animate__backInDown">
        <!-- titulos de las columnas -->
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Is Done</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </thead>
    <tbody>
        <!-- el ngfor recorre el array de tasks e imprime los elementos en su respectivos campo en las filas, animaciones  -->
        <tr *ngFor="let task of tasks"  class="my-1 animate__animated animate__backInUp">
            <!-- scope pone en negritas esta columna -->
            <!-- se imprimen los elemntos dentro de task -->
            <th scope="row">{{task.id}}</th>
            <td>{{task.title}}</td>
            <td>{{task.is_completed}}</td>
            <td>{{task.due_date}}</td>
            <!-- boton para editar la tarea seleccionada -->
            <td class="p-0">
                <button class="btn btn-outline-success" (click)="viewTask(task.id)" >
                    <i class="far fa-edit"></i>
                </button>
            </td>
            <!-- boton para eliminar la tarea seleccionada -->
            <td class="p-0">
                <button class="btn btn-outline-danger" (click)="delTask(task)" >
                    <i class="fas fa-eraser"></i>
                </button>
            </td>
        </tr>
    </tbody>
  </table>